<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177035748348-4ml3l552a6od192ea4682iolbfc4mhlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177035748348-4ml3l552a6od192ea4682iolbfc4mhlj</string>
	<key>API_KEY</key>
	<string>AIzaSyBno0w5VHwRk1pwGhkq8eCtQrH1lXskUoM</string>
	<key>GCM_SENDER_ID</key>
	<string>177035748348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>why.Faul-iOS</string>
	<key>PROJECT_ID</key>
	<string>faul-4291a</string>
	<key>STORAGE_BUCKET</key>
	<string>faul-4291a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177035748348:ios:d9b330551b871a68cd8879</string>
</dict>
</plist>